/*all text*/
* {
    -fx-font-family: 'Lucida Console';
    -fx-text-fill: #eedb00;
}
/*all button*/
Button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}
Button:pressed{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

/*Buttons inside HBox*/
.button-bar Button {
    -fx-padding: 0 20px;
}
.button-bar Button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 30, 0.65, 0, 0);
}

/*main menu layout*/
.quit-button {
    -fx-font-size: 14px;
    -fx-min-width: 75;
    -fx-min-height: 25;
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-border-radius: 15;
    -fx-transition: all 0.3s ease;
}
.quit-button:hover {
    -fx-background-color: #333;
    cursor: hand;
}

.mute-btn {
    -fx-background-color: transparent;
}
.mute-btn:hover {
    cursor: hand;
}

.h-box {
    -fx-background-color: #555;
    -fx-opacity: .8;
}
.h-box Button {
    -fx-min-width: 200;
    -fx-min-height: 75;
    -fx-background-color: #121;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-transition: all 0.3s ease;
}
.h-box Button:hover {
    -fx-background-color: #111;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    cursor: hand;
    -fx-text-fill: #eedb00;
}
.h-box Button:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

/*instruction layout*/
.instruction-v-box  .label {
    -fx-min-width: 400;
    -fx-font-size: 13px;
    -fx-padding: 3px 0;
    -fx-text-alignment: center;
    -fx-alignment: center-left;
    -fx-content-display: center;
}
.instruction-v-box {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 20, 0.45, 0, 0);
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #222;
    -fx-border-width: 5px;
}

/*user input layout*/
.user-input-label {
    -fx-text-alignment: center;
    -fx-font-size: 18px;
}

.user-hbox {
    -fx-min-width: 400;
    -fx-alignment: center;
}
.user-hbox .button {
    -fx-min-width: 100;
    -fx-font-size: 14px;
    -fx-padding: 20px;
    -fx-transition: all 0.3s ease;
}
.user-hbox .button:hover {
    -fx-font-size: 18px;
}

.user-text-field {
    -fx-min-width: 220;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-color: #333;
    -fx-transition: all 0.3s ease;
}

.difficulty-bar {
    -fx-alignment: center;
}
.difficulty-btn {
    -fx-background-color: #333;
    -fx-padding: 10px;
    -fx-text-fill: #fff;
    -fx-transition: all 0.3s ease;
}
.difficulty-btn:hover,
.user-text-field:hover,
.pause-window-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0);
}
.difficulty-btn:focused {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0.5, 0, 0);
}

/*dialog after submitting username*/
.dialog-pane {
    -fx-background-color: #222;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-min-height: 200px;
}
.dialog-pane *{
    -fx-text-fill: #f0f0f0;
}
.dialog-pane .header-panel {
    -fx-background-color: #333;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 14pt;
    -fx-padding: 10px;
}
.dialog-pane .content {
    -fx-background-color: #222;
    -fx-font-size: 10pt;
    -fx-text-fill: #f0f0f0;
    -fx-alignment: center;
}
.dialog-pane .button-bar {
    -fx-background-color: #222;
}
.dialog-pane .button {
    -fx-background-color: #000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}
.dialog-pane .button:hover {
    -fx-text-fill: #eedb00;
}

/*ship selection layout*/
.choose-ship-label {
    -fx-padding: 55px;
    -fx-font-size: 20px;
}
.choose-ship-btn {
    -fx-font-size: 20px;
}
.choose-ship-left-right-btn {
    -fx-background-color: transparent;
    -fx-font-size: 50px;
}
.choose-ship-img {
    -fx-border-width: 20px;
    -fx-border-color: #eedb00;
}

/*game layout*/
.game-h-box {
    -fx-alignment: center;
}

.status-label {
    -fx-font-size: 32px;
    -fx-label-padding: 13px;
    -fx-text-fill: #444;
    -fx-background-color: radial-gradient(center 50% 50%, radius 55%, #ffebcd, #7a6f18, #000000);
}

/*game end layout*/
.game-end-text {
    -fx-font-size: 32px;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-text-alignment: center;
    -fx-layout-x: 50;
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, yellow 0%, orangered 100%);
}
.game-end-hbox {
    -fx-font-size: 16px;
}

.result-grid-pane {
    -fx-background-color: linear-gradient(to bottom right, #2a2a2a, #4a4a4a);
    -fx-border-color: #a0f2f0;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 35, 0.5, 0, 0);
}
.result-grid-pane .stat-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 20px;
}
.result-grid-pane .header-label {
    -fx-text-fill: #42f5ef;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 20px;
}