* {
    -fx-font-family: 'Lucida Console';
    -fx-text-fill: #eedb00;
}
.button {
    -fx-background-color: transparent;
}
.button:hover {
    cursor: hand;
}
.button:pressed{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.h-box {
    -fx-background-color: #555;
    -fx-opacity: .7;
}
.quit-button {
    -fx-font-size: 14px;
    -fx-min-width: 75;
    -fx-min-height: 25;
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-border-radius: 15;
    -fx-transition: all 0.3s ease;
}
.quit-button:hover {
    -fx-background-color: #333;
    cursor: hand;
}

.h-box-button {
    -fx-min-width: 200;
    -fx-min-height: 75;
    -fx-background-color: #121;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-transition: all 0.3s ease;
}
.h-box-button:hover {
    -fx-font-size: 24px;
    -fx-background-color: #111;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    cursor: hand;
}

.instruction-box {
    -fx-min-width: 500;
    -fx-min-height: 300;
}

.instruction-button {
    -fx-background-color: transparent;
}
.instruction-button:hover {
    cursor: hand;
}

.v-box  .label {
    -fx-min-width: 400;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-alignment: center-left;
    -fx-content-display: center;
}

.mute-btn {
    -fx-background-color: transparent;
}
.mute-btn:hover {
    cursor: hand;
}

.user-input-label {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}

.user-hbox {
    -fx-min-width: 400;
    -fx-alignment: center;
}
.user-hbox .button {
    -fx-min-width: 100;
    -fx-font-size: 14px;
    -fx-padding: 20px;
    -fx-transition: all 0.3s ease;
}
.user-hbox .button:hover {
    -fx-font-size: 18px;
}

.user-text-field {
    -fx-min-width: 170;
    -fx-text-fill: #fff;
    -fx-font-size: 11px;
    -fx-background-color: #333;
    -fx-transition: all 0.3s ease;
}

.difficulty-bar {
    -fx-alignment: center;
}
.difficulty-btn {
    -fx-background-color: #333;
    -fx-padding: 10px;
    -fx-text-fill: #fff;
    -fx-transition: all 0.3s ease;
}
.difficulty-btn:hover,
.user-text-field:hover,
.pause-window-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0);
}
.difficulty-btn:focused {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0.5, 0, 0);
}

.choose-ship-label {
    -fx-padding: 55px;
}
.choose-ship-btn {
    -fx-font-size: 20px;
}
.choose-ship-left-right-btn {
    -fx-background-color: transparent;
    -fx-font-size: 50px;
}
.choose-ship-img {
    -fx-border-width: 20px;
    -fx-border-color: #eedb00;
}

.dialog-pane {
    -fx-background-color: #222;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-min-height: 200px;
}
.dialog-pane *{
    -fx-text-fill: #f0f0f0;
}

.dialog-pane .header-panel {
    -fx-background-color: #333;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 14pt;
    -fx-padding: 10px;
}

.dialog-pane .content {
    -fx-background-color: #222;
    -fx-font-size: 10pt;
    -fx-text-fill: #f0f0f0;
    -fx-alignment: center;
}

.dialog-pane .button-bar {
    -fx-background-color: #222;
}

.dialog-pane .button {
    -fx-background-color: #000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}
.dialog-pane .button:hover {
    -fx-text-fill: #eedb00;
}

.game-h-box {
    -fx-alignment: center;
}

.status-label {
    -fx-font-size: 32px;
    -fx-text-fill: linear-gradient(to right, #ff7e5f, #feb47b);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0.5, 0.0, 0.0);
}
